		
		body
		{
			background: white;
			height: 100vh;
			overflow: hidden;
			font-family: 'Arial', sans-serif;
		}
		h1
		{
			margin-left:3%;
			font-weight: 400;
			border-bottom: 1px solid #E5E5E5;
			width: 94%;	
			margin-bottom: 20px			
		}
		.center
		{
			width: 94%;
			margin: 0px auto;
			position: relative;
		}
		.center .header
		{
			font-size: 13px;
			font-weight: 50;
			color: black;
			padding: 10px 0 10px 15px;
			background: #E5E5E5;
			border: 1px solid #D3D3D3;
			border-radius: 5px 5px 0px 0px;
		}
		.center form
		{
			position: static;
			background: white;
			width: 100%;
			padding: 10px 0 10px 15px;
			box-sizing: border-box;
			border: 1px solid #D3D3D3;
			border-radius: 0px 0px 5px 5px;
		}
		form input
		{
			height: 30px;
			width: 75%;
			padding: 0px 10px;			
			border-radius: 3px;
			border: 1px solid #D3D3D3;
			font-size: 13px;
			margin-bottom: 10px;
			margin-top: 10px;
		}					
		form input[type="submit"]
		{
			margin-top: 5px;
			margin-bottom: 5px;
			width: 10%;
			height: 30px;
			color: #4C4C4C;
			line-height: 30px;
			border-radius: 5px;		
			background: white;
			font-size: 13px;

		}	
		form textarea
		{
			padding: 0px 10px;			
			border-radius: 3px;
			border: 1px solid #D3D3D3;
			font-size: 13px;
			margin-bottom: 10px;
			margin-top: 10px;
			height: 60px;
			width: 75%;
		}			
		label
		{
			text-decoration: none;
			font-size: 13px;
			font-weight: 600;
			color: black;
			padding: 0px 0px 0px 0px;
			
		}	
		form a
		{
			text-decoration: none;
			font-size: 13px;
			color: #1E90FF;
			padding: 0 0 0 0px;
		}