table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th {
    text-align: left
  }

  table {
    margin: 10px 10px 20px 10px;
  }

  .all {
    border: solid black 1px; width: fit-content;
  }

  .top {
    background-color: rgb(223, 221, 221);
  }

  .top-text {
    margin-left: 10px;
  }